<section class="imagen">
  <div class="row">
      <div class=" col-md-2"></div>
      <div class= "col-md-8"><img src="assets/img/educacion.png"></div>
      <div class=" col-md-2"></div>
  </div>
</section>

<section class="educacion">
  <div class="row">
  <div class="col-md-3">
  <div class="card border-success mb-3" style="max-width: 14rem;">
     <div class= "btn-edit"   on click="cambiar_parrafo()">
      <a href="#" class="btn-ligth">
        <i class="fa-solid fa-user-pen" style=color:black></i>
      </a>
      <div class="card-header bg-transparent border-success">Argentina Programa</div>
      <div class="card-body text-success">
        <h5 class="card-title"><b>DESARROLLADORA WEB FULL STACK </b></h5>
        <a href="https://drive.google.com/file/d/1PA9mbC5IO3AcodNgp-udImBX5AENzWpn/view?usp=sharing" target= argprogr class="btn btn-dark">ver certificación</a>
      </div>
      <div class="card-footer bg-transparent border-success">2022</div>
  </div>
  </div>
  </div>
  <div class="col-md-3">

  <div class="card border-success mb-3" style="max-width: 14rem;">
    <div class= "btn-edit"   on click="cambiar_parrafo()">
      <a href="#" class="btn-ligth">
        <i class="fa-solid fa-user-pen" style=color:black></i>
      </a>
      <div class="card-header bg-transparent border-success">Egg Cooperation</div>
      <div class="card-body text-success">
        <h5 class="card-title"><b>FUNDAMENTOS<BR> DE PROGRAMACIÓN</b></h5>
          <a href="https://drive.google.com/file/d/1bTxV-1tfl85qXA1oR5Dy4VQE2zfxQ-T2/view?usp=sharing" target=" egg" class="btn btn-dark">ver certificación</a>
      </div>
      <div class="card-footer bg-transparent border-success">2022</div>
  </div>
  </div>
  </div>
  <div class="col-md-3">

      <div class="card border-success mb-3" style="max-width: 14rem;">
        <div class= "btn-edit"   on click="cambiar_parrafo()">
      <a href="#" class="btn-ligth">
        <i class="fa-solid fa-user-pen" style=color:black></i>
      </a>
      <div class="card-header bg-transparent border-success">UTN</div>
          <div class="card-body text-success">
            <h5 class="card-title"><b>LIC EN TECNOLOGÍA EDUCATIVA</b></h5>
            <a href="https://drive.google.com/file/d/1r8lBZxz9H-BzdiHD6e9N5NItUiJTY6CO/view?usp=sharing" target="utn" class="btn btn-dark">ver certificación</a>
          </div>
          <div class="card-footer bg-transparent border-success">2020-tesis en proceso</div>
      </div>
  </div>
  </div>
  <div class="col-md-3">

      <div class="card border-success mb-3" style="max-width: 14rem;">
         <div class= "btn-edit"   on click="cambiar_parrafo()">
      <a href="#" class="btn-ligth">
        <i class="fa-solid fa-user-pen" style=color:black></i>
      </a>
      <div class="card-header bg-transparent border-success">IFDC José.S.Salinas</div>
          <div class="card-body text-success">
            <h5 class="card-title"><b>PROFESORA <br>EN TECNOLOGÍA</b></h5>
            <a href="https://drive.google.com/file/d/1PwtGkKC8Yzbi8K-qbRh5PwVRadte-KP3/view?usp=sharing" target="profesorado" class="btn btn-dark">ver certificación</a>
          </div>
          <div class="card-footer bg-transparent border-success">2003-2008</div>
      </div>
  </div>
  </div>
</div>
</section>

