<section class="imagen">
  <div class="row">
      <div class=" col-md-2"></div>
      <div class= "col-md-8"><img src="assets/img/tecnico.png"></div>
      <div class=" col-md-2"></div>
  </div>
</section>

<section class="hard-skills">
<div class=" row">
  <div class="col-md-3">
    <div class="card" style="max-width: 14rem;">
      <div class= "btn-edit"   on click="cambiar_parrafo()">
      <a href="#" class="btn-ligth">
        <i class="fa-solid fa-user-pen" style=color:black></i>
      </a>
          <img src="assets/img/1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>65%</b></h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" aria-label="Animated striped example" aria-valuenow="60" aria-valuemin="60%" aria-valuemax="100" style="width: 65%"></div>
            </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-md-3">
      <div class="card"style="max-width: 14rem;">
        <div class= "btn-edit"   on click="cambiar_parrafo()">
          <a href="#" class="btn-ligth">
            <i class="fa-solid fa-user-pen" style=color:black></i>
          </a>
        <img src="assets/img/2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>50%</b></h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="50%" aria-valuemax="100" style="width: 50%"></div>
            </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-md-3">
      <div class="card"style="max-width: 14rem;">
        <div class= "btn-edit"   on click="cambiar_parrafo()">
          <a href="#" class="btn-ligth">
            <i class="fa-solid fa-user-pen" style=color:black></i>
          </a>
          <img src="assets/img/3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>50%</b></h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="50%" aria-valuemax="100" style="width: 50%"></div>
            </div>
          </div>
        </div>
  </div>
  </div>
  <div class="col-md-3">
      <div class="card"style="max-width: 14rem;">
      <div class= "btn-edit"   on click="cambiar_parrafo()">
          <a href="#" class="btn-danger">
            <i class="fa-solid fa-user-pen" style=color:black></i>
          </a>
          <img src="assets/img/4.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>50%</b></h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="50%" aria-valuemax="100" style="width: 50%"></div>
            </div>
          </div>
        </div>
  </div>
</div>
</div>
</section>
