<div class="presentacion">
  <div class="card">
    <div class= "btn-edit"   on click="cambiar_parrafo()">
      <a href="#" class="btn-ligth">
        <i class="fa-solid fa-user-pen" style=color:black></i>
      </a>
      <div class="card-body" ><div class="animate__heartBeat">
        <h4> Hola! Soy Iris y estoy buscando mi primer trabajo remoto en IT.<br>
          Hace un año descubrí la pasión por codear y estoy lista <br> para a darle a mi vida un nuevo rumbo laboral! </h4>
      </div>
    </div>
  
